@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";


@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-border: border-rotate 4s linear infinite;
  
  @keyframes border-rotate {
    from {
      --border-angle: 0deg;
    }
    to {
      --border-angle: 360deg;
    }
  }
}



::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4a5568; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded edges */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2d3748; /* Darker color on hover */
  }




.animated-border {
  background: linear-gradient(45deg, #172033, #1e293b 50%, #172033) padding-box,
    conic-gradient(from var(--border-angle), rgba(71, 85, 105, 0.48) 80%, #6366f1 86%, #a5b4fc 90%, #6366f1 94%, rgba(71, 85, 105, 0.48)) border-box;
}
